In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("./data_5_freq.csv")

df_blank = df.loc[(df["1"] == False) & (df["2"] == False) & (df["3"] == False) & (df["4"] == False) & (df["5"] == False) & (df["6"] == False) & (df["7"] == False) & (df["8"] == False)]

In [4]:
len(df)

2890

In [5]:
df_no_blank = df.loc[~df["id"].isin(df_blank["id"])]

In [6]:
X = df_no_blank[["id", "text"]]
y = df_no_blank[["id", "1", "2", "3", "4", "5", "6", "7", "8"]]

In [7]:
train, test, _, _ = train_test_split(df_no_blank, df_no_blank, test_size=0.11, random_state=42)

In [8]:
new_train = pd.concat([train, df_blank])
new_train

,id,text,view,vote,chapter,1,2,3,4,5,6,7,8
2689,2769,bí_ẩn diệp linh_dị vụ sở dịch quyển khổ kỳ kỳ ...,1073.0,118.0,100.0,False,True,False,False,False,True,False,False
1326,1368,rose young 24 old model dream big world highsc...,NaN,NaN,NaN,True,True,False,False,False,True,False,False
2010,2076,song journey trận chiến thánh london suy mục_t...,8103.0,339.0,97.0,True,True,True,False,False,False,False,True
927,954,giường lưu tam tam 3 ngoại giường tình_yêu 2 2...,130165.0,2006.0,76.0,True,False,False,False,False,False,False,False
135,136,trọng sinh chi tức phụ nhi dưỡng_thành nguyên ...,32440.0,276.0,5.0,True,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2383,2461,trò,NaN,NaN,NaN,False,False,False,False,False,False,False,False
2415,2493,countryhuman x reader oneshot guess countryhum...,NaN,NaN,NaN,False,False,False,False,False,False,False,False
2655,2734,kết_hôn nhân_vật cẩu huyết hiện_đại 1x1 tổng_t...,49053.0,5221.0,86.0,False,False,False,False,False,False,False,False
2780,2862,x reader warn ooc tục vui,NaN,NaN,NaN,False,False,False,False,False,False,False,False
2882,2967,cổ_tích nhạc f wrote,2555.0,199.0,12.0,False,False,False,False,False,False,False,False

In [11]:
train_len = len(new_train)
test_len = len(test)

for i in range(1, 9):
    num_train_true = new_train[str(i)].sum()
    num_test_true = test[str(i)].sum()
    
    print(f"Tag {i}")
    print(f"True tag pct train: {float(num_train_true) / float(train_len) * 100}")
    print(f"True tag pct test: {float(num_test_true) / float(test_len) * 100}")

Tag 1
True tag pct train: 51.222351571594885
True tag pct test: 49.201277955271564
Tag 2
True tag pct train: 33.91540551028328
True tag pct test: 32.9073482428115
Tag 3
True tag pct train: 34.769111369809856
True tag pct test: 30.990415335463258
Tag 4
True tag pct train: 26.30966239813737
True tag pct test: 26.198083067092654
Tag 5
True tag pct train: 10.593713620488941
True tag pct test: 10.543130990415335
Tag 6
True tag pct train: 19.90686845168801
True tag pct test: 23.322683706070286
Tag 7
True tag pct train: 5.316259216142802
True tag pct test: 4.15335463258786
Tag 8
True tag pct train: 6.1311602638727205
True tag pct test: 4.472843450479233

In [12]:
test["id"].values

array([ 427, 1676, 1383, 2392, 2071,  362, 1006, 1679,  544, 1859, 1725,
       2231, 2728,  332,  696, 2552, 1910,  824, 1423,  413,  975, 2096,
        549, 1233,  841, 2859, 2453, 2874,  550, 1896,  874, 1740, 2280,
        775, 1587,  793,  143, 2876, 1261, 2695, 1805, 1461, 2944, 1164,
        984,  849, 1634, 2708, 1878,  395,  510,  445, 2655,  965, 2946,
        832, 2219, 2198, 1140, 1486, 2909,  443,  620,  302, 2477, 1496,
       2566, 1621,  561, 1593, 1635, 2308, 2706, 1094,  199, 2916, 2524,
       2438, 1566,  599, 2353,  967,  796, 1835, 1337, 1963, 1817, 2836,
         32, 2482,   67, 2217, 1545, 1287, 1647, 2831, 1842, 2042,  304,
       2434,  980,  872, 1075,  326, 1494, 2298, 2568, 2619, 2448, 1471,
        316, 2683,  513, 2051, 1179, 2960, 2032, 2764,  201, 1352, 2366,
        897, 1907,  663,   30,  452, 1073, 2809,  585, 1660, 1331, 1639,
        182,  894, 1611, 1820, 2500, 2969, 2534, 1881, 2522, 2344,   73,
       1257,   63, 1701,  216,   45, 1452, 2301, 1230, 1518,   80, 2601,
       2844, 1153, 1021,  494, 2557, 1474, 1442,  420, 1681, 2651, 1533,
        713, 2799, 1557, 2243, 2362, 2903,  617, 1711, 1252, 1370,  628,
         44, 1469,  473, 1546, 2758, 2271,  446, 2875, 2865,  339,  423,
         93, 1536,  179,  801,  449, 1543, 1517,  470, 1421,  581,  862,
        534,  590, 2476, 2413,  522,  376, 2447, 2518,  244, 2412, 2886,
        463, 1892, 1777, 2107, 1816, 2416, 2327, 1246, 1234, 2797,  476,
        612,  560,  422,   70,  915, 2689,  501, 1145,   56, 1247, 1673,
       2098, 2869, 1491,  329,  102,  404, 2466, 1108,  500, 2664, 1814,
       2127, 1363, 2631, 2321, 2307,  126,  432, 2041,  545,  616, 1083,
       1935,  681, 2106,  750, 2160, 1666, 2444, 1137, 1736, 2281, 1703,
       1417, 2850,  238, 2312, 1825, 2840, 1136, 1318,  525, 1932,  904,
       1705, 2275, 1131, 2471, 1204, 2295, 2025, 2861, 1299, 1147, 2819,
       2250, 1291,   29, 2621,  880, 1268, 1090, 1631, 1784,  193,  173,
       1824,   43,   87, 2672,  865,  288, 2816, 2796,  661, 1005, 1283,
       2635, 2446,  151,  538, 1525], dtype=int64)